.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    padding: 350px;
    background-color: transparent;
}

#home {
    display: block;
    background-image: url('../images/header-photo-01.jpg');
    height: 100vh;
}

@media (max-width:600px) {
    .box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        box-sizing: border-box;       
        padding: 350px 0px 0px;
    }
}