.education {
    height: 100vh;
}

.education-box-speech {
    background-image: url("../images/speech-bubble.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 350px;
    height: 250px;
}