.header {
    position: fixed;
    width: 95%;
    top: 0;
    padding: 30px 50px 20px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    filter: opacity(85%);
    transition: 200ms;
}