.portfolio {
    background-color: var(--color-second);
    padding: 100px 150px;
}

.portfolio-button {
    text-align: center;
    margin: 20px;
}

.portfolio-box-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-images {
    display: inline-block;
    width: 300px;
    height: 400px;
    margin: 25px 15px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.322);
    transition: transform 250ms;
}

.portfolio-images:hover {
    transform: scale(1.02);
}