.portfolio {
    background-color: var(--color-second);
    padding: 100px 150px;
}

.portfolio-button {
    text-align: center;
    margin: 20px;
}

.portfolio-box-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-box {
    display: flex;
    width: 450px;
    height: 300px;
    border: 2px solid var(--color-first);
    border-radius: 15px;
    margin-top: 40px;
}

.portfolio-box:hover {
    background-color: var(--color-fifth);
}

.portfolio-info-header {
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin-bottom: 10px;
}

.portfolio-info-title {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portfolio-info-title h3 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.portfolio-image {
    margin: 0;
    height: 100%;
}

.portfolio-image img {
    width: 120px;
    border-left: 1px solid var(--color-first);
    border-bottom: 1px solid var(--color-first);
    border-radius: 0px 13px 0px 0px;
}

.portfolio-link {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 15px;
}

.portfolio-link img {
    margin-right: 10px;
}

.portfolio-link a {
    text-decoration: none;
    color: var(--color-seventh);
}

.portfolio-link a:hover {
    text-decoration: underline;
}

.portfolio-info p {
    margin: 0px 0px 10px 20px;
}

.portfolio-techs {
    margin-left: 20px;
}

.portfolio-techs img {
    margin-right: 10px;
}

#styled {
    width: 32px;
    background-color: #FFF;
    border-radius: 5px;
}


/*
.portfolio-box-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.portfolio-images {
    display: inline-block;
    width: 300px;
    margin: 25px 15px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.322);
    transition: transform 250ms;
}

.portfolio-images:hover {
    transform: scale(1.02);
}
*/
#portfolio-subtitle {
    margin: auto;
}

@media (max-width:600px) {
    .portfolio {
        padding: 70px 0px 50px;
    }

    .portfolio-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        max-width: 250px;
        max-height: 320px;
        margin: 10px auto;
    }

    .portfolio-box-images {
        display: flex;
        justify-content: center;
    }

    .portfolio-images-mobile {
        display: inline-block;
    }
}