.portfolio {
    background-color: var(--color-second);
    padding: 100px 150px;
}

.portfolio-button {
    text-align: center;
    margin: 20px;
}

.portfolio-box-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-box {
    display: flex;
    width: 500px;
    height: 300px;
    border: 2px solid var(--color-first);
    border-radius: 15px;
    margin-top: 40px;
}

.portfolio-box:hover {
    background-color: var(--color-fifth);
}

.portfolio-info-header {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 10px;
}

.portfolio-info-title {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.portfolio-info-title h3 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
}

.portfolio-image {
    margin: 0;
    height: 100%;
}

.portfolio-image img {
    width: 120px;
    border-left: 1px solid var(--color-first);
    border-bottom: 1px solid var(--color-first);
    border-radius: 0px 13px 0px 0px;
}

.portfolio-link {
    display: flex;
    align-items: center;
    padding: 0px 20px 15px;
    
}

.portfolio-link img {
    margin-right: 10px;
}

.portfolio-link a {
    text-decoration: none;
    color: var(--color-seventh);
}

.portfolio-link a:hover {
    text-decoration: underline;
}

.portfolio-info p {
    margin: 0px 0px 10px 20px;
}

.portfolio-techs {
    margin-left: 20px;
    margin-bottom: 10px;
}

.portfolio-techs img {
    margin-right: 10px;
}

#styled {
    width: 32px;
    background-color: #FFF;
    border-radius: 5px;
}

#portfolio-subtitle {
    margin: auto;
}

@media (max-width:600px) {
    .portfolio {
        padding: 70px 0px 50px;
    }

    .portfolio-box {
        max-width: 450px;
        max-height: 350px;
    }
    
    .portfolio-info-header {
        max-width: 450px;
    }
    

    .portfolio-info-title h3 {
        font-size: 25px;
    }

    .portfolio-image img {
        width: 100px;
    }

    .portfolio-link a {
        font-size: 14px;
    }
}