.skill {
    height: 110vh;
    background-color: var(--color-third);
    box-sizing: border-box;
    padding: 100px 160px;
}

.skill-box {
    display: flex;
    padding-top: 80px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-box-id {
    margin: 30px 0px;
}

.skill-bar {
    margin-top: 10px;
    width: 400px;
    height: 12px;
    background-color: var(--color-seventh);
}

.skill-bar-content {
    height: 12px;
    background-color: var(--color-fifth);
    transition: 400ms;
}

@media (max-width:600px) {
    .skill {
        padding: 70px 15px 50px;
    }

    .skill-box {
        padding-top: 60px;
    }

    .skill-bar {
        width: 300px;
    }
}