.subtitle {
    color: var(--color-third);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.black-subtitle {
    color: var(--color-second);    
}

.subtitle-footer {
    font-size: 35px;
    margin-bottom: 10px;
}