.text-info {
    font-family: var(--font-second);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-fifth);
}

.text-info-footer {
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
}

.text-info-emph {
    display: inline-block;
    font-family: var(--font-first);
    margin-bottom: 10px;
}