.title {
    font-size: 74px;
    font-weight: bold;
    color: var(--color-third);
    border-right: 10px solid var(--color-third);
    white-space: nowrap;
    overflow: hidden;
    margin: 20px auto;
}

.typing-animation {
    animation: blinkCursor 700ms steps(18) infinite normal,
    typing 2.6s steps(18) 1s normal both;
}

@keyframes typing {
    from{
        width: 0px;
    }
    to {
        width: 670px;
    }
}

@keyframes blinkCursor {
    form {
        border-right-color: 10px solid var(--color-third);
    }
    to {
        border-right-color: transparent;
    }
}

@media (max-width:600px) {
    .title {
        font-size: 40px;
        border-right: 5px solid var(--color-third);
        border-left: 5px solid transparent;
        margin: 15px auto;
    }

    @keyframes typing {
        from{
            width: 0px;
        }
        to {
            width: 360px;
        }
    }
    
    @keyframes blinkCursor {
        form {
            border-right-color: 5px solid var(--color-third);
            border-left: 5px solid transparent;
        }
        to {
            border-right-color: transparent;
        }
    }
}