:root {
    --color-first: #45D5D3;
    --color-second: #132121;
    --color-third: #FFFFFF;
    --color-fourth: #38ACAB;
    --color-fifth: #131313;
    --color-sixth: #E83F3E;
    --color-seventh: #C4C4C4;

    --font-first: 'Raleway', sans-serif;
    --font-second: 'Noticia Text', serif;
}

body {
    font-family: var(--font-first);
    background-color: var(--color-first);
    color: var(--color-third);
}